# working notes
Python-Upgrade-Notes.rtf

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Dependency files for make
*.P

# Other temporary file
*.gch

# Directory for playing around in
tmp/

# Directory for binaries
bin/
